<!DOCTYPE html>

<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <title>HomePath</title>
</head>
<body>

<div class="container">
  <div class="oem-carousel-container">
    <div id="oem-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">

      <div class="carousel-overlay-container">
        <div class="carousel-overlay">
          <h1>MAKING HOME BUYING REWARDING</h1>
          <p>GET BONUS CASH BACK TO SPEND ON WHATEVER YOU WANT WHEN YOU PURCHASE OR SELL A SELECT HOME</p>
        </div>
        <div id="carousel-scroll-overlay" class="text-center">
          <p>SCROLL TO SEE MORE<br /><%= image_tag "chevrons.png" %></p>
        </div>
      </div>

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#oem-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#oem-carousel" data-slide-to="1"></li>
        <li data-target="#oem-carousel" data-slide-to="2"></li>
        <li data-target="#oem-carousel" data-slide-to="3"></li>
        <li data-target="#oem-carousel" data-slide-to="4"></li>
        <li data-target="#oem-carousel" data-slide-to="5"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <picture>
            <source media="(max-width: 600px)" srcset="/app/assets/images/carousel-bg-hyundai-mobile.jpg">
            <%= image_tag "jamr_carousal.jpg" %>
          </picture>
        </div>
        <div class="item">
          <picture>
            <source media="(max-width: 600px)" srcset="/app/assets/images/carousel-bg-dodge-mobile.jpg">
            <%= image_tag "jamr_carousal.jpg" %>
          </picture>
        </div>
        <div class="item">
          <picture>
            <source media="(max-width: 600px)" srcset="/app/assets/images/carousel-bg-fiat-mobile.jpg">
            <%= image_tag "jamr_carousal.jpg" %>
          </picture>
        </div>
        <div class="item">
          <picture>
            <source media="(max-width: 600px)" srcset="/app/assets/images/carousel-bg-jeep-mobile.jpg">
            <%= image_tag "jamr_carousal.jpg" %>
          </picture>
        </div>
        <div class="item">
          <picture>
            <source media="(max-width: 600px)" srcset="/app/assets/images/carousel-bg-ram-mobile.jpg">
            <%= image_tag "jamr_carousal.jpg" %>
          </picture>
        </div>
        <div class="item">
          <picture>
            <source media="(max-width: 600px)" srcset="/app/assets/images/carousel-bg-chrysler-mobile.jpg">
            <%= image_tag "jamr_carousal.jpg" %>
          </picture>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#oem-carousel" data-slide="prev">
        <%= image_tag "arrow-left.png" %>
      </a>
      <a class="right carousel-control" href="#oem-carousel" data-slide="next">
        <%= image_tag "arrow-right.png" %>
      </a>
    </div>
  </div>

  <div class="bg-lt-gray">
    <div class="number-tile-container">
      <div class="row no-margin equal">
        <div class="col-xs-12 col-sm-4 col-md-offset-0 number-tile">
          <h1>01.</h1>
          <h2>VIEW ELIGIBLE HOME<br />AND SPECIAL OFFERS</h2>
          <p>Go to Choose My Perfect Home and select your homes(s) of choice. Offers vary by location and purchase date. </p>
        </div>
        <div class="col-xs-12  col-sm-4 col-md-offset-0 number-tile">
          <h1>02.</h1>
          <h2>SUBMIT YOUR APPLICATION</h2>
          <p>Complete the simple form on this website within 60 days of purchasing or leasing your home and claim your cash!</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-offset-0 number-tile">
          <h1>03.</h1>
          <h2>GET YOUR CHECK IN THE MAIL</h2>
          <p>You will receive your check in the mail in approximately 8 - 10 weeks once your application is approved!</p>
        </div>
      </div>
      <div class="row no-margin">
        <div class="col-xs-12 number-tile number-tile-disclaimer">
          Cash back offers range between $250 and $500 depending on purchase date and selected home. Home leasers receive $100. 
        </div>
      </div>
    </div>
    <div class="manufacturer-logo-container">
      <div id="make-logo-desktop" class="make-logos d-make-flex-container">
        <div class="d-make-flex-item"><%= image_tag "crown-ps.gif" %></div>
        <div class="d-make-flex-item"><%= image_tag "crown-mp.png" %></div>
        <div class="d-make-flex-item"><%= image_tag "emerging-logo.gif" %></div>
      </div>
    </div>
  </div>

  <div class="choose-drive bg-orange">
    <div class="row equal no-margin">
      <div class="col-xs-12 col-sm-12 col-md-8 no-padding">
        <picture>
          <source media="(max-width: 480px)">
          <%= image_tag "rochestor_carousal.jpg" %>
        </picture>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="choose-drive-text">
          <h1>CHOOSE YOUR PERFECT HOME</h1>
          <p>Search for eligible homes in Troy, Birmingham or Bloomfield hills.</p>
          <p>Once you’ve chosen, visit any agent to negotiate your purchase or sell as normal. Get up to $500 in addition to any offers you negotiate with the agent!</p>
          <div class="choose-drive-btn-align"><input type="button" value="CHOOSE NOW" onclick='location.href="Home/Vehicles.html"' data-role="none" /></div>
        </div>
      </div>
    </div>
  </div>

  <div class="submit-app bg-dk-gray">
    <div class="row no-margin">
      <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
        <h1>SUBMIT YOUR APPLICATION TO GET YOUR CHECK</h1>
        <input type="button" value="SUBMIT NOW" onclick='location.href="Home/Register.html"' data-role="none" />
      </div>
    </div>
  </div>

  <div id="contact" class="contact bg-lt-gray text-center">
    <div class="row no-margin contact-margin">
      <div class="col-sm-12">
        <h1>CONTACT</h1>
        <p>If you have any questions about the HomePathRewards program, please contact a representative at:</p>
      </div>
    </div>
    <div class="row no-margin contact-icon-margin">
      <div class="col-sm-12 col-md-6 contact-right">
        <p class="kerning contact-icon-margin contact-icon"><%= image_tag "email.png" %> <a href="mailto:info@thevara.com" style="color:inherit"><strong>INFO@THEVARA.COM</strong></a></p>
      </div>
      <div class="col-sm-12 col-md-6 contact-left">
        <p class="kerning contact-icon"><%= image_tag "phone.png" %><a href="tel:888-999-7787" style="color:inherit;"><strong>888-98-HOMER (26687)</strong></a></p>
      </div>
    </div>
  </div>
  </div>

<script type="text/javascript">
    $(document).ready(function () {
        var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
        if (isIE11 && window.matchMedia("(max-width: 768px)").matches) {
            $("#make-logo-mobile").show();
            $("#make-logo-desktop").hide();
        }
    });
    if (matchMedia) {
        const mq = window.matchMedia("(max-width: 768px)");
        mq.addListener(WidthChange);
        WidthChange(mq);
    }
    function WidthChange(mq) {
        var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;

        if (mq.matches || (isIE11 && window.matchMedia("(max-width: 768px)").matches)) {
            $("#make-logo-mobile").show();
            $("#make-logo-desktop").hide();
        } else {
            $("#make-logo-mobile").hide();
            $("#make-logo-desktop").show();
        }
    }
</script>

<script>
    $(document).ready(function () {
        var pathname = (window.location.pathname);
        $('.nav a').each(function () {
            var currentlink = "";
            if ($(this).attr('href').indexOf("?") === -1)
                currentlink = $(this).attr('href');
            else
                currentlink = $(this).attr('href').substring(0, $(this).attr('href').indexOf("?"));
            if (currentlink === pathname) {
                $(this).addClass("nav-active")
            }
        });
        if (pathname.indexOf("/Home/Register") != -1 || pathname.indexOf("/Home/VehicleInformation") != -1 || pathname.indexOf("Home/Eligibility/index.html") != -1 || pathname.indexOf("Home/Survey/index.html") != -1 || pathname == "/Home/Confirmation" || pathname.indexOf("/Home/Resubmit") != -1)
            $("body").addClass("bg-dk-gray");
    });
</script>
</body>
</html>