<!DOCTYPE html>

<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
  <title>Choose realtor, lender and title company for best rewards</title>
</head>
<body>

<div class="container">
  <div class="header-image">
    <picture>
      <source media="(max-width: 600px)" srcset="/Content/Images/V2/header-ram-mobile.jpg">
      <%= image_tag "signup.png" %>
    </picture>
    <div class="header-scroll-overlay-container">
      <div id="header-scroll-overlay" class="text-center">
        <p>SCROLL TO SEE MORE<br /><%= image_tag "chevrons.png" %></p>
      </div>
    </div>
  </div>

  <div class="row no-margin">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      <div class="vehicle-content">
        <h1 class="orange">CHOOSE YOUR PERFECT HOME</h1>
        <p class="light">Search for eligible home from RBHome, Realtor®, HowardHanna®, Century21®, or KellerWilliams.</p>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      <div class="vehicle-content">
        <h2>Change your password</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </div>

  <div class="row no-margin">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      <div class="vehicle-content">
      </div>
    </div>
  </div>

</div>
</body>
</html>

